<%= simple_form_for recipe, defaults: { label_html: {style: "font-weight:300;"}} do |f| %>
  <div class="dark-box manual-input">
    <%= f.input :title, label: "Title", error: 'Title is required' %>
    <div class="recipe-input-row equal-row">
      <%= f.input :cooking_time, label: "Time", wrapper_html: {style:"width:40%"} %>
      <%= f.input :difficulty, collection: %i[easy medium hard], wrapper_html: {style:"width:55%"} %>
    </div>
    <div class="recipe-input-row unequal-row">
      <%= f.input :serving_size, label: "Servings", wrapper_html: { style: "width:25%;"} %>
      <%= f.select :tags, %w[1 2 3 4], {}, {multiple: true, data: {controller: "tom-select"}} %>
    </div>
    <%= f.input :rating, collection: (1..5).to_a, input_html: {data: {controller: "star-rating"}} %>
    <%= f.input :photo, as: :file, label: "Upload a picture of your dish" %>
  </div>
  <div>
    <%= f.button :submit, 'Save and Continue', class: "button button-primary" %>
  </div>
<%end%>
