<%= simple_form_for recipe, defaults: { label_html: {style: "font-weight:300;"}} do |f| %>
  <div class="dark-box manual-input">
    <%= f.input :title, label: "Title", error: 'Title is required' %>
    <div class="recipe-input-row equal-row">
      <%= f.input :cooking_time, label: "Time", wrapper_html: {style:"width:40%"} %>
      <%= f.input :difficulty, collection: %i[easy medium hard], wrapper_html: {style:"width:55%"} %>
    </div>
    <div class="recipe-input-row unequal-row">
      <%= f.input :serving_size, label: "Servings", wrapper_html: { style: "width:25%;"} %>
      <%= f.input :tags, collection: %i[
          #fun #superfood #recipes #food #foodie #foodporn #cooking #recipe #foodphotography #instafood #foodblogger
          #yummy #healthyfood #homemade #foodstagram #delicious #easyrecipes #foodlover #tasty #healthy #recipeoftheday #healthylifestyle
          #healthyrecipes #dinner #homecooking #vegan #instagood #chef #cook #foodies #breakfast #foodblog #baking #foodpics #foodiesofinstagram
          #indianfood #lunch #vegetarian #yum #dessert #love #healthyeating #chicken #nutrition #cookingathome #health #foodgasm #recipeshare
          #homemadefood #instagram #fitness #chocolate #eat #kitchen #veganrecipes #glutenfree #foodlovers #cake #weightloss #cheflife #yummyfood #veganfood
        ], input_html: { multiple: true }, wrapper_html: {style: "width:70%;"} %>
    </div>
    <%= f.input :rating %>
    <%= f.input :photo, as: :file, label: "Upload a picture of your dish" %>
  </div>
  <div>
    <%= f.button :submit, 'Save and Continue', class: "button button-primary" %>
  </div>
<%end%>
