<div data-search-recipes-target="list">
  <p><%= 'No recipes yet! Click the plus button to add one' if @recipes.empty? %></p>
  <div class="card-index">
    <% @recipes.each do |recipe| %>
      <div class='recipe-card white-background' onclick="location.href='/recipes/<%=recipe.id%>'" style="cursor:pointer">
          <% if recipe.photo.attached? %>
            <%= cl_image_tag recipe.photo.key%>
          <% else %>
            <img src="https://images.unsplash.com/photo-1576867757603-05b134ebc379?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" style="opacity:60%;"alt="Table filled with food">
          <% end %>
        <h3 class="recipe-card-title"><%= recipe.title %></h3>
        <div class='recipe-card-info'>
          <%= render "recipe_tags_info", recipe: recipe %>
        </div>
      </div>
    <% end %>
  </div>
</div>
