<div data-search-recipes-target="list">
  <p><%= 'No recipes yet! Click the plus button to add one' if @recipes.empty? %></p>
  <div class="d-flex flex-wrap justify-content-between">
    <% @recipes.each do |recipe| %>
      <div class='recipe-card'>
        <%= cl_image_tag recipe.photo.key, height: 300, width: 400, crop: :fill if recipe.photo.attached? %>
        <div>
          <%= link_to recipe.title, recipe_path(recipe), class: "h3" %>

          <% if @matches %>
            <%= @matches[recipe].nan? ? 0 : @matches[recipe] * 100 %> %
          <% end %>
          <p class="tag"><%= recipe.cooking_time %> min</p>
          <% unless recipe.rating.nil? %>
            <p class="tag"><%= recipe.rating %>/5</p>
          <% end %>
          <p class="tag"><%= recipe.difficulty %></p>
          <p class="tag">Serves: <%= recipe.serving_size %></p>
          <% unless recipe.tags.nil? %>
            <p class="tag">#<%= recipe.tags %></p>
          <% end %>
          <p class="tag">Cooked? <%= recipe.cooked %></p>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
