<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <li><%= recipe.cooking_time %></li>
    <li><%= recipe.description %></li>
    <li><%= recipe.rating %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.serving_size %></li>
    <li><%= recipe.cooked %></li>
    <li><%= recipe.notes %></li>
    <br>
  <% end %>
</ul>

<%= link_to 'Add recipe', new_recipe_path %>
