<%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill if @recipe.photo.attached? %>
<ul>
  <li><%= @recipe.title %></li>
  <li><%= @recipe.cooking_time %></li>
  <li><%= @recipe.description %></li>
  <li><%= @recipe.rating %></li>
  <li><%= @recipe.difficulty %></li>
  <li><%= @recipe.serving_size %></li>
  <li><%= @recipe.cooked %></li>
  <li><%= @recipe.notes %></li>
</ul>

<%= link_to 'Edit recipe', edit_recipe_path %>
<%= link_to "Remove", recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
