<% if @recipe.photo.attached? %>
  <%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill%>
<% elsif !@recipe.scraped_img_url.nil? %>
  <img src="<%= @recipe.scraped_img_url %>" style="height: 300px; width: 400px; crop: :fill">
<% end %>
<ul>
  <li><%= @recipe.title %></li>
  <li>Cooking time: <%= @recipe.cooking_time %></li>
  <li>Steps: <%= @recipe.description %></li>
  <li>Rating: <%= @recipe.rating %></li>
  <li>Difficulty: <%= @recipe.difficulty %></li>
  <li>Serving size: <%= @recipe.serving_size %></li>
  <li>Tags: <%= @recipe.tags %></li>
  <li>Cooked? <%= @recipe.cooked %></li>
  <li>Notes: <%= @recipe.notes %></li>
</ul>
<h2>Ingredients</h2>
<% @recipe.recipe_ingredients.each do |ingredient| %>
  <ul>
    <li>
      <%= ingredient.ingredient.name %>
      <% user_ingredient = UserIngredient.all.where(ingredient_id: ingredient.ingredient) %>
      (Available: <%= (user_ingredient.present? && user_ingredient.first.quantity.positive?) ? 'Yes' : 'No' %>)
    </li>
  </ul>
<% end %>

<% if @edit %>
  <%= render 'shared/list_ingredient', ingredients: @user_ingredient %>
<% end %>

<%= link_to 'Cooked', cooked_recipe_path(@recipe) %>
<%= link_to 'Edit recipe', edit_recipe_path %>
<%= link_to "Remove", recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
