<!-- Links -->
<div class="show-recipe-container">
  <div class="actions">
    <%= link_to cooked_recipe_path(@recipe), class: "icon" do %>
      <i class="fa-solid fa-check icon"></i>
    <% end %>
    <%= link_to create_grocery_list_recipe_path(@recipe), class: "icon" do %>
      <i class="fa-solid fa-cart-shopping"></i>
    <% end %>
    <%= link_to edit_recipe_path, class: "icon" do %>
      <i class="fa-solid fa-pencil icon"></i>
    <% end %>
    <%= link_to recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "icon" do %>
      <i class="fa-solid fa-trash-can icon"></i>
    <% end %>
  </div>
  <h1 style="margin-top:15px;"><%= @recipe.title %></h1>
  <!-- Basic Info -->
    <div class='recipe-card-info' style="padding:0px; margin-bottom:8px;">
      <%= render "recipe_tags_info", recipe: @recipe %>
    </div>


  <!-- Ingredients -->
    <div class="text-box">
      <h3>Ingredients</h3>
      <!-- to be added when we can increase serving size
      <div class="d-flex flex-row">
        <p>Serving size:</p>
        <p class="grey-tag"><%= @recipe.serving_size %></p>
      </div>
      -->
      <%= render "ingredient_list", recipe: @recipe %>
    </div>

  <!-- Steps-->
    <div class="text-box">
      <h3>Directions</h3>
      <%= render "step_list", recipe: @recipe %>
    </div>

<!--
<% if @edit %>
  <%= render 'shared/list_ingredient', ingredients: [@user_ingredient] %>
<% end %>
-->
