<div class="d-flex flex-column gap-2">
  <% if ingredients.count > 0 %>

      <% ingredients.each do |ingredient| %>
        <div class="input ingredient-list">
          <!--trash icon, favorite star, and name -->

          <div class="ingredient-list-name">
            <%= render 'shared/list_ingredient_icons', ingredient: ingredient%>
            <div>
              <p style="height: fit-content;"><%= ingredient.ingredient.name %></p>
            </div>
          </div>

          <!--form to update ingredient-->
          <%= simple_form_for @grocery_ingredient && @grocery_ingredient.id == ingredient.id ? @grocery_ingredient : ingredient, url: grocery_ingredient_path(ingredient), defaults: { input_html: {style: "margin-bottom:0px;height:100%;background-image: none;padding:0px;"}} do |f| %>
              <%= f.input :quantity, label_html: { class:"d-none"}, wrapper_html: { style: "margin-bottom:0px !important;"}, input_html: { class: "light-grey-background"} %>
              <%= f.input :measurement, collection: %w[g kg mg l ml cup tsp tbs unit quart gallon pint], label_html: { class:"d-none"},
                  wrapper_html: { style: "margin-bottom:0px !important;"}, input_html: { class: "light-grey-background"},
                  selected: @grocery_ingredient ? @grocery_ingredient.measurement : ingredient.measurement %>
              <%#= check_box_tag 'grocery_ingredient_ids[]', ingredient.id, false, { class: 'grocery-checkbox' } %>
              <%= f.button :submit, "✔️" %>
          <%end%>
          <%= form_tag purchased_grocery_ingredients_path, method: :post do %>
            <%= check_box_tag 'grocery_ingredient_ids[]', ingredient.id, false, { class: 'grocery-checkbox' } %>
            <%= submit_tag 'Purchased' %>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>
