<div class="input ingredient-list" data-controller="edit-ingredient" data-edit-ingredient-target="item">
        <!--trash icon, favorite star, and name -->

  <div class="d-flex flex-row flex-nowrap justify-content-start">
    <%= render 'shared/list_ingredient_icons', ingredient: ingredient%>
      <div>
        <p style="height: fit-content;"><%= ingredient.ingredient.name %></p>
      </div>
  </div>

        <!--form to update ingredient-->
  <%= simple_form_for ingredient,
    url: ingredient.class == RecipeIngredient ? recipe_recipe_ingredients_path(@recipe) : user_ingredients_path,
    defaults: { input_html: {style: "margin-bottom:0px;height:100%;background-image: none;padding:0px;"}} do |f| %>
    <%= f.input :quantity, label_html: { class:"d-none"}, wrapper_html: { style: "margin-bottom:0px !important;"}, input_html: { class: "light-grey-background"} %>
    <%= f.input :measurement, collection: %w[g kg mg l ml cup tsp tbsp unit quart gallon pint], label_html: { class:"d-none"},
      wrapper_html: { style: "margin-bottom:0px !important;"}, input_html: { class: "light-grey-background"},
      selected: ingredient.measurement %>
    <%= f.button :submit, "✔️" %>

  <%end%>
</div>
