<div class="d-flex flex-column gap-2">
  <% if ingredients.count > 0 %>
    <% ingredients.each do |ingredient| %>
      <div class="input ingredient-list">
        <!--trash icon, favorite star, and name -->

        <div class="d-flex flex-row flex-nowrap justify-content-start">
          <%= render 'shared/list_ingredient_icons', ingredient: ingredient%>
          <div>
            <p style="height: fit-content;"><%= ingredient.ingredient.name %></p>
          </div>
        </div>

        <!--form to update ingredient-->
        <%= simple_form_for @recipe_ingredient && @recipe_ingredient.id == ingredient.id ? @recipe_ingredient : ingredient, url: ingredient.class == RecipeIngredient ? recipe_recipe_ingredients_path(@recipe) : "", defaults: { input_html: {style: "margin-bottom:0px;height:100%;background-image: none;padding:0px;"}} do |f| %>
            <%= f.input :quantity, label_html: { class:"d-none"}, wrapper_html: { style: "margin-bottom:0px !important;"}, input_html: { class: "light-grey-background"} %>
            <%= f.input :measurement, collection: %w[ml l kg g mg], label_html: { class:"d-none"}, wrapper_html: { style: "margin-bottom:0px !important;"}, input_html: { class: "light-grey-background"} %>
            <%= f.button :submit, "✔️" %>
        <%end%>
      </div>
    <% end %>
  <% end %>
</div>
