<%= form_with url: ingredients_path, method: :get do |f| %>
  <%= label_tag :query, 'Search for ingredient:' %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag 'Search' %>
<% end %>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.name %>
      <%= form_with model: [@recipe, RecipeIngredient.new], method: :post do |f| %>
        <%= f.label :quantity, 'Quantity' %>
        <%= f.text_field :quantity %>

        <%= f.label :measurment, 'Measurment' %>
        <%= f.text_field :measurement %>

        <%= f.hidden_field :ingredient_id, value: ingredient.id  %>

        <%= submit_tag 'Add' %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @recipe.recipe_ingredients.present? %>
    <%= render 'shared/list_ingredient', ingredients: @recipe.recipe_ingredients %>
<% end %>

<%= link_to 'Add description', edit_description_recipe_path(@recipe) %>
